.list {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-collapse: collapse;
    margin: 0 auto;

    &__row {
        width: 100%;
        border-bottom: 1px solid #ddd;

        &--head {
            background-color: #435d7d;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    &__col {
        padding: 10px 30px;
        text-align: center;

        .list__row--head & {
            color: #fff;
        }
    }
}

.error-msg {
    margin: 0 auto;
    text-align: center;
}